.search {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: .8rem 1rem;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    border-color: #ddd;
  }

  &-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
}
